# Dependencies
node_modules/
.pnpm-store/
.venv/
env/
venv/
ENV/

# Python caching
**/__pycache__/
*.py[cod]
*$py.class

# Environment variables (Crucial: never commit API keys!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Production / Build outputs
dist/
build/
out/

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS System files
.DS_Store
Thumbs.db
server_vercel/models

# Large ML Weights (Excludes the 160MB file from Git tracking)
image_classification/*.pth
image_classification/model_weights.pth
*.pth
*.onnx
*.h5
